<!DOCTYPE html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/scripts/calculadora.js"></script>
  </head>

  <body>
    <label>Op1:</label>
    <input type="text" id="op1" name="op1"><br><br>
    <label>Op2:</label>
    <input type="text" id="op2" name="op2"><br><br>
    <label>Operacion:</label>
    <input type="text" id="op" name="op"><br><br>
    <label id="res">Resultado: </label><br><br>
    <button>Send an HTTP GET request to a page and get the result back</button>
  </body>

</html>